/* Reset properties */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERICS */
body{
    font-family: 'Open Sans';
    padding-top: 60px;
}

/* CONTAINERS */
.container-l {
    max-width: 950px;
    margin: 0 auto;
}

.container-main {
    max-width: 850px;
    margin: 0 auto;  
}

.container-pd-fix {
    padding: -130px 0;
}

/* UTILS */
.border {
    border: 2px dashed #000;
}

.border-lgray {
    border: 1px solid #777777;
}

.op-7:hover {
    opacity: 0.7;
}

.blue {
    color: #0050d0;
}

.bg-lightblue {
    background-color: #B4D0E7;
}

.bg-black {
    background-color: #000;
}

.inline {
    display: inline;
}

.inline-block {
    display: inline-block;
}

.margin-dx {
    margin-right: 20px;
}

.pointer {
    cursor: pointer;
}

.gray {
    color: #212121;
}

h2 {
    font-size: 35px;
}

ul {
    list-style: none;
}

.flex {
    display: flex;
}

li {
    padding: 0px 10px;
}

a {
    text-decoration: none;
}

.blue-btn {
    background-color: #0050d0;
    border-radius: 2px;
    padding: 7px 15px;
    color: #fff;
}

.white-btn {
    background-color: #ffffff;
    border-radius: 2px;
    padding: 7px 15px;
    color: #212121;
    border: 1px solid transparent;
}

.white-btn:hover {
    background-color: #0050d0;
    color: #fff;
}

.hover-gray:hover {
    background-color: #e7e7e7;
}

/* HEADER */
header {
    height: 620px;
    background: linear-gradient(#B4D0E7 95%, transparent 5%);
}

.navbar {
    height: 60px;
    display: flex;   
    align-items: center;
    background-color: #fff;
    box-shadow: 0 1px 3px #a1a1a1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.navbar > * {
    padding: 5px;
}

.navbar-logo, .navbar-user {
    flex-basis: 10%;
}

.navbar-info, .navbar-support {
    flex-grow: 1;
}

.box-logo {
    display: block;
    max-width: 100%;
    height: auto;
    padding-left: 10px;
}

.navbar-support > ul {
    justify-content: flex-end;
}

li > a {
    color: #212121;
    font-size: 14px;
}

.blue-btn:hover {
    opacity: 0.8;
}

/* JUMBOTRON */
.jumbotron {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.jumbo-top {
    flex-basis: 30%;
}

h1 {
    padding-top: 40px;
    padding-bottom: 30px;
    font-size: 60px;
    font-weight: 900;
}

.jumbo.bottom {
    flex-basis: 70%;
}

.jumbo-bottom-content {
    display: flex;
    flex-direction: column reverse;
}

.jumbo-bottom-txt {
    height: 400px;
    flex-basis: 35%;
    position: relative;
}

.jumbo-bottom-txt > p {
    font-size: 15px;
    text-shadow: 0 0 0 #006e72;
    line-height: 25px;
}

.jumbo-bottom-txt > a {
    display: inline-block;
    margin: 30px 0;
}

.jumbo-bottom-txt > i {
    position: absolute;
    color: #000;
    bottom: 50px;
    font-weight: 900;
    font-size: 50px;
}

.jumbo-bottom-img {
    height: 400px;
    flex-basis: 65%;
    position: relative;
}

.jumbo-bottom-img > img {
    display: block;
    max-height: 105%;
    position: absolute;
    top: 7.5px;
    left: -25px;
    margin: 0 auto;
}

/* MAIN - SECTION BUSINESS */
#section-business {
    padding-top: 130px;
}

.plan-bss-box {
    margin: 50px 0;
}

.checkbox {
    display: inline-block;
    border: 2px solid #777777;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
}

.checkbox:hover {
    background-color: #6ba4ff;
    border-color: #0050d0;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-bss {
    flex-basis: calc(100% / 3);
    padding: 10px;
}

.card-bss-customer {
    text-align: center;
    font-size: 14px;
    width: 100%;
    flex-basis: 30px;
    line-height: 30px;
    border-top: 1px solid #777777;
    border-left: 1px solid #777777;
    border-right: 1px solid #777777;
}

.card-bss {
    min-height: 880px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.plan-bss-type {
    margin: 25px 0;
}

.plan-bss-type > h3 {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 35px;
}

.plan-bss-price {
    font-size: 14px;
    font-weight: 700;
    margin: 10px 0;
}

.plan-bss-term {
    font-size: 12px;
    color: #696969;
    font-weight: 600;
}

.card-bss-offer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 40px;
}

.card-bss-icon {
    font-size: 14px;
    flex-basis: 10%;
    margin: 10px 0;
}

.card-bss-icontext {
    font-size: 14px;
    flex-basis: 90%;
    margin: 10px 0;
    padding-right: 5px;
}

.card-bss-trial {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card-bss-trial > a {
   min-width: 100%; 
   text-align: center;
}

.fix {
    margin-left: 5.5px;
}

.card-bss-trial > p {
    font-size: 14px;
    margin-top: 30px;
    text-align: center;
}

.card-bss-shopnow {
    text-decoration: underline;
    color: #0050d0;
    cursor: pointer;
}

.card-bss-shopnow:hover {
    opacity: 0.7;
}

.card-bss-powers {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    margin: 40px 0;
}

/* COLUMN BUSINESS BOTTOM */
.col-bss-bottom {
    flex-basis: 100%;
    padding: 10px;
}

.card-bss-bottom {
    display: flex;
    min-height: 200px;
}

.card-bss-bottom-sx {
    flex-basis: 70%;
    padding: 20px 25px;
}

.card-bss-bottom-sx > h3 {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 20px;
}

.card-bss-bottom-sx > p {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 40px;
}

.card-bss-bottom-text {
    color: #212121;
    font-size: 14px;
}

.card-bss-bottom-dx {
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 2%;
}

/* MAIN - SECTION PARTNER */
#section-partner {
    margin: 120px 0;
    height: 500px;
    padding: 10px;
}

.col-ptn {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.card-ptn {
    display: flex;
    flex-direction: column reverse;
}

.card-ptn-sx {
    height: 500px;
    flex-basis: 65%;
    position: relative;
}

.card-ptn-sx > img {
    display: block;
    max-height: 100%;
}

.card-ptn-dx {
    height: 400px;
    flex-basis: 35%;
    position: relative;
    padding: 50px 10px;
}

.card-ptn-dx > h3 {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 20px;
}

.card-ptn-dx > p {
    font-size: 14px;
    line-height: 25px;
    color: #212121;
    margin-bottom: 30px;
}

.card-ptn-dx > a {
    font-size: 14px;
    color: #212121;
    border: 1px solid #212121;
    padding: 7px 15px;
}

.card-ptn-dx > a:hover {
    color: #fff;
    border-color: #0050d0;
}

/* MAIN - SECTION ADVANTAGES */
#section-advantages {
    margin: 80px 0;
}

#section-advantages > h2 {
    margin-bottom: 50px;
}

.col-adv {
    flex-basis: calc(100% / 3);
    padding: 10px;
}

.card-adv {
    min-height: 500px;
    display: flex;
    flex-direction: column;
}

.card-adv-img {
    flex-basis: 50%;
}

.card-adv-img > img {
    display: block;
    max-width: 100%;
}

.card-adv-txt {
    flex-basis: 50%;
    flex-grow: 1;
}

.card-adv-txt > h3 {
    font-size: 24px;
    margin-bottom: 20px;
}

.card-adv-txt > p {
    font-size: 15px;
    line-height: 25px;
    color: #212121;
}

/* MAIN - SECTION SPONSOR */
.section-spr-top {
    margin-bottom: 100px;
}

.section-spr-top > h2 {
    margin-bottom: 50px;
}

.section-spr-top > a {
    text-decoration: underline;
    margin-bottom: 100px;
}

.square-band {
    display: flex;
}

.square {
    flex-basis: calc(100vw / 3);
    height: calc(100vw / 3);
    display: flex;
    flex-wrap: wrap;
}

.square > .square-child {
    width: 50%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 15px solid transparent;
}

.square-child:hover {
    border-color: rgba(255, 255, 255, 0.3);
    cursor: pointer;
}

.square-child > img {
    width: 50%;
}

.filter-invert {
    filter: brightness(0) invert(1);
}

/* SQUARE CHILD's PALETTE */

#sq-1-1 {
    background-color: #A2D39B;
}

#sq-1-2 {
    background-color: #61082B;
}

#sq-1-3 {
    background-color: #0093CE;
}

#sq-1-4 {
    background-color: #FF1C1C;
}

#sq-2-1 {
    background-color: #D5001F;
}

#sq-2-2 {
    background-color: #B4D0E7;
}

#sq-2-3 {
    background-color: #0D2481;
}

#sq-2-4 {
    background-color: #FFD830;
}

#square-central {
    background-color: #F5F5F5;
    padding: 40px;
    padding-bottom: 100px;
}

#square-central > img {
    height: 70px;
}

.section-spr-bottom-content {
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-spr-bottom-content > h2 {
    color: #61082B;
}

/* MAIN - SECTION Q & A */
#section-questions {
    padding: 120px 0;
    position: relative;
}

#section-questions > h2 {
    margin-bottom: 60px;
}

.line-gray {
    border: 1px solid #a6a6a6;
}

#section-questions > .question {
    font-size: 15px;
    font-weight: 700;
    margin: 40px 0;
}

#section-questions > .question::after {
    content: "\005e";
    transform: rotate(180deg);
    font-size: 20px;
    position: absolute;
    left: 95%;
    cursor: pointer;
}

.question {
    cursor: pointer;
}

.answer {
    display: none;
    margin: 40px 0;
}

.question:hover + .answer {
    display: block;
}

/* FOOTER */
.col-ftr {
    flex-basis: calc(100% / 5);
    padding: 20px;
}

.card-ftr {
    color: #fff;
    padding: 100px 0;
    justify-content: center;
}

li > h4 {   
    margin-bottom: 15px;
}

.card-ftr > ul > li {
    padding: 5px 0;
}

.card-ftr > ul > li > a {
    color: #fff;
    cursor: pointer;
}

li > a:hover {
    text-decoration: underline;
}

.lang-select {
    margin: 20px 0;
    padding: 0 20px;
}

.lang-select > a {
    display: inline-block;
    color: #fff;
}

.lang-select > a:hover {
    text-decoration: underline;
}