/* Reset properties */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERICS */
body{
    font-family: 'Open Sans';
    padding-top: 60px;
}

/* CONTAINERS */
.container-main {
    max-width: 900px;
    margin: 0 auto;
    padding: 150px 0;
}

.container-l {
    max-width: 1000px;
    margin: 0 auto;
}

/* UTILS */
.border {
    border: 2px dashed #000;
}

.border-lgray {
    border: 1px solid #777777;
}

.blue {
    color: #0050d0;
}

.inline {
    display: inline;
}

.inline-block {
    display: inline-block;
}

.margin-dx {
    margin-right: 20px;
}

.pointer {
    cursor: pointer;
}

.gray {
    color: #212121;
}

ul {
    display: flex;
    list-style: none;
}

li {
    padding: 0px 10px;
}

a {
    text-decoration: none;
}

.hover-gray:hover {
    background-color: #e7e7e7;
}

/* HEADER */
header {
    height: 620px;
    background-color: #B4D0E7;
}

.navbar {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 1px 3px #a1a1a1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.navbar > * {
    padding: 5px;
}

.navbar-logo, .navbar-user {
    flex-basis: 10%;
}

.navbar-info, .navbar-support {
    flex-grow: 1;
}

.box-logo {
    display: block;
    max-width: 100%;
    height: auto;
    padding-left: 10px;
}

.navbar-support > ul {
    justify-content: flex-end;
}

li > a {
    color: #212121;
    font-size: 14px;
}

.blue-btn {
    background-color: #0050d0;
    border-radius: 2px;
    padding: 7px 15px;
    color: #fff;
}

.blue-btn:hover {
    opacity: 0.8;
}

/* JUMBOTRON */
.jumbotron {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.jumbo-top {
    flex-basis: 30%;
}

h1 {
    padding-top: 40px;
    padding-bottom: 30px;
    font-size: 60px;
    font-weight: 900;
}

.jumbo.bottom {
    flex-basis: 70%;
}

.jumbo-bottom-content {
    display: flex;
    flex-direction: column reverse;
}

.jumbo-bottom-txt {
    height: 400px;
    flex-basis: 35%;
    position: relative;
}

.jumbo-bottom-txt > p {
    font-size: 15px;
    text-shadow: 0 0 0 #006e72;
    line-height: 25px;
}

.jumbo-bottom-txt > a {
    display: inline-block;
    margin: 30px 0;
}

.jumbo-bottom-txt > i {
    position: absolute;
    color: #000;
    bottom: 30px;
    font-weight: 900;
    font-size: 50px;
}

.jumbo-bottom-img {
    height: 400px;
    flex-basis: 65%;
    position: relative;
}

.jumbo-bottom-img > img {
    display: block;
    max-height: 110%;
    position: absolute;
    left: -40px;
    margin: 0 auto;
}

/* MAIN - SECTION BUSINESS */
.section-bss > h2 {
    font-size: 35px;
}

.plan-bss-box {
    margin: 50px 0;
}

.checkbox {
    display: inline-block;
    border: 2px solid #777777;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
}

.checkbox:hover {
    background-color: #6ba4ff;
    border-color: #0050d0;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-bss {
    flex-basis: calc(100% / 3);
    padding: 10px;
}

.card-bss-customer {
    text-align: center;
    font-size: 14px;
    width: 100%;
    flex-basis: 30px;
    line-height: 30px;
    border-top: 1px solid #777777;
    border-left: 1px solid #777777;
    border-right: 1px solid #777777;
}

.card-bss {
    min-height: 850px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.plan-bss-type {
    margin: 25px 0;
}

.plan-bss-type > h3 {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 35px;
}

.plan-bss-price {
    font-size: 14px;
    font-weight: 700;
    margin: 10px 0;
}

.plan-bss-term {
    font-size: 12px;
    color: #696969;
    font-weight: 600;
}

.card-bss-offer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 40px;
}

.card-bss-icon {
    font-size: 14px;
    flex-basis: 10%;
    margin: 10px 0;
}

.card-bss-icontext {
    font-size: 14px;
    flex-basis: 90%;
    margin: 10px 0;
    padding-right: 5px;
}

.card-bss-trial {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card-bss-trial > a {
   min-width: 100%; 
   text-align: center;
}

.fix {
    margin-left: 5.5px;
}

.card-bss-trial > p {
    font-size: 14px;
    margin-top: 30px;
    text-align: center;
}

.card-bss-shopnow {
    text-decoration: underline;
    color: #0050d0;
    cursor: pointer;
}

.card-bss-shopnow:hover {
    opacity: 0.7;
}

.card-bss-powers {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    margin: 40px 0;
}

/* COLUMN BUSINESS BOTTOM */
.col-bss-bottom {
    flex-basis: 100%;
    padding: 10px;
}

.card-bss-bottom {
    display: flex;
    min-height: 200px;
}

.card-bss-bottom-sx {
    flex-basis: 70%;
    padding: 20px 25px;
}

.card-bss-bottom-sx > h3 {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 20px;
}

.card-bss-bottom-sx > p {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 40px;
}

.card-bss-bottom-text {
    color: #212121;
    font-size: 14px;
}

.card-bss-bottom-dx {
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 2%;
}

/* MAIN - SECTION PARTNER */
.section-partner {
    margin: 120px 0;
    height: 500px;
    padding: 10px;
}

.col-partner {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.card-partner {
    display: flex;
    flex-direction: column reverse;
}

.card-partner-sx {
    height: 500px;
    flex-basis: 65%;
    position: relative;
}

.card-partner-sx > img {
    display: block;
    max-height: 100%;
}

.card-partner-dx {
    height: 400px;
    flex-basis: 35%;
    position: relative;
    padding: 50px 10px;
}

.card-partner-dx > h3 {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 20px;
}

.card-partner-dx > p {
    font-size: 14px;
    line-height: 25px;
    color: #212121;
    margin-bottom: 30px;
}

.card-partner-dx > a {
    font-size: 14px;
    color: #212121;
    border: 1px solid #212121;
    padding: 7px 15px;
}

.card-partner-dx > a:hover {
    color: #0050d0;
    border-color: #0050d0;
}